{% extends "base.html" %}
{% block title %}score title{% endblock %}
{% block content %}
    {{ super() }}
    <h1>Score</h1>
    <h3>You have <strong>{{ data['game_count'] }}</strong> games.</h3>
    <style type="text/css">
    div.game {
        width: 184px;
        height: 210px;
        overflow: hidden;
        float: left;
        margin: 5px;
        border-radius: 10px;
        box-shadow: 1px 1px 5px 0px rgba(0,0,0,0.75);
    }
    div.game p {
        padding: 5px;
    }
    </style>
    {% for game in data['games'] %}
        <div class="game">
            {% if game['img_logo_url'] %}
                <img src="http://media.steampowered.com/steamcommunity/public/images/apps/{{ game['appid'] }}/{{ game['img_logo_url'] }}.jpg">
            {% else %}
                <img src="http://images.akamai.steamusercontent.com/ugc/39723915253582547/15528DE639E5ECBBB8C5DB8D8B43225A42682FAF/" style="width: 184px; height: 69px;">
            {% endif %}
            <p class="gameName">{{ game['name'] }}</p>
            {% if game['playtime_forever'] == 0 %}
                <p>Never played.</p>
            {% else %}
                <p>Forever time: <span class="foreverTime">{{ game['playtime_forever'] | mintohours }}</span> hours</p>
            {% endif %}
            {% if game['playtime_2weeks'] %}
                <p>2weeks time: {{ game['playtime_2weeks'] | mintohours }}</p>
            {% endif %}
        </div>
    {% endfor %}
    <div style="clear: both;">
        <pre>
            {{ data }}
        </pre>
    </div>
{% endblock %}