{% extends "base.html" %}
{% block title %}score title{% endblock %}
{% block score %}<h1 style="text-decoration: underline; font-weight: bold;">Score</h1>
<h1>{{ score }}</h1>
<a class="twitter-share-button" data-size="large"
  href="https://twitter.com/intent/tweet?text=My #GreenGoblin score: {{ score }}">
Tweet</a>
{% endblock %}
{% block content %}
    {{ super() }}
    <h1>Score</h1>
    <h3>You have <strong>{{ data['game_count'] }}</strong> games.</h3>
    <style type="text/css">
    div.game {
        width: 184px;
        height: 210px;
        overflow: hidden;
        float: left;
        margin: 5px;
        border-radius: 10px;
        box-shadow: 1px 1px 5px 0px rgba(0,0,0,0.75);
    }
    div.game p {
        padding: 5px;
    }
    div.achievement {
        width: 200px;
        height: 200px;
        float: left;
        box-shadow: 1px 1px 5px;
        padding: 0px 5px;
        margin: 5px;
        border-radius: 5px;
        word-wrap: break-word;
    }
    div.locked {
        background: #ccc;
    }
    .featherlight-content {
        border-radius: 5px;
    }
    </style>
    {% for game in data['games'] %}
    <a href="#" data-featherlight="/getAchievementsForGame?appid={{ game['appid'] }}&steamid={{ data['playerinfo']['steamid'] }}" class="achievements">
        <div class="game" data-appid="{{ game['appid'] }}" data-steamid="{{ data['playerinfo']['steamid'] }}">
            {% if game['img_logo_url'] %}
                <img src="http://media.steampowered.com/steamcommunity/public/images/apps/{{ game['appid'] }}/{{ game['img_logo_url'] }}.jpg">
            {% else %}
                <img src="http://images.akamai.steamusercontent.com/ugc/39723915253582547/15528DE639E5ECBBB8C5DB8D8B43225A42682FAF/" style="width: 184px; height: 69px;">
            {% endif %}
            <p class="gameName">{{ game['name'] }}</p>
            {% if game['playtime_forever'] == 0 %}
                <p>Never played.</p>
            {% else %}
                <p>Forever time: <span class="foreverTime">{{ game['playtime_forever'] | mintohours }}</span> hours</p>
            {% endif %}
            {% if game['playtime_2weeks'] %}
                <p>2weeks time: {{ game['playtime_2weeks'] | mintohours }} hours</p>
            {% endif %}
        </div>
        </a>
    {% endfor %}
    <div style="clear: both;">
        <pre>
            {{ data }}
        </pre>
    </div>
{% endblock %}